<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Login</title>
</head>
<body>
    <form id="form">
        <label for="id">Username:</label><br>
        <input type="text" id="id" required><br>
        <label for="pwd">Password:</label><br>
        <input type="password" id="pwd" required><br><br>
        <button onclick="login()">Login</button>
        <div id="errorMessage" style="color: red;"></div>
    </form>

    <script>
        async function login() {
            const id = document.getElementById('id').value;
            const pwd = document.getElementById('pwd').value;
            console.log("TEST")        
            if (!id || !pwd) {
                document.getElementById('errorMessage').innerText = 'Please enter both username and password.';
                return;
            }
            const response =await fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                    },
                body: JSON.stringify({
                id: id,
                pwd: pwd
                })
                });
            const data = await response.json();
            console.log(data);
            if (response.ok) {
                alert("Logged In");
             //   window.location.href = 'http://localhost:3000/home';
            } else {
                alert("Failed to login")
                document.getElementById('errorMessage').textContent = errorMessage;
            }
        };
    </script>

</body>
</html>