<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Register</title>
</head>
<body>
    <form id="form">
        <label for="id">Username:</label><br>
        <input type="text" id="id" required><br>
        <label for="pwd">Password:</label><br>
        <input type="password" id="pwd" required><br><br>
        <button onclick="register()">Login</button>
        <div id="errorMessage" style="color: red;"></div>
    </form>

    <script>
        async function register() {
            const id = document.getElementById('id').value;
            const pwd = document.getElementById('pwd').value;
            console.log('test');
            if (!id || !pwd) {
                document.getElementById('errorMessage').innerText = 'Please enter both username and password.';
                return;
            }
            const response =await fetch('/register', {
                method: 'POST',
                headers: {
                            'Content-Type': 'application/json'
                        },
                body: {
                    'id': id,
                    'pwd': pwd
                }
            });

            if (response.ok) {
                alert('Registered successfully');
                window.location.href = 'loginPage';
            } else {
                // Failed login
                alert("Failed to register")
                document.getElementById('errorMessage').textContent = errorMessage;
            }
        };

    </script>

</body>
</html>